{% extends "base.html" %}

{% block content %}
{% if language == 'ru' %}
<main>
    <div class="cont">
        <h1>Админ панель</h1>
        <h2>Публикации</h2>
        <ul>
            {% for post in posts %}
            <li>
                <a href="{{ url_for('post_detail', post_id=post.id) }}">Название:{{ post.title }}</a>
                <p>{{ post.content }}</p>
                <p>Автор: {{ post.author.username }}</p>
                <p>Тема: {{ post.theme.name }}</p>
                <a href="{{ url_for('edit_post', post_id=post.id) }}">Редактировать</a>
                <a href="{{ url_for('delete_post', post_id=post.id) }}">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        </div>
        <div class="cont">
        <h2>Темы</h2>
        <a href="{{ url_for('admin_create_theme') }}">Создать</a>
        <ul>
            {% for theme in themes %}
            <li>
                <h2>{{ theme.name }}</h2>
                <a href="{{ url_for('admin_edit_theme', theme_id=theme.id) }}">Изменить</a>
                <a href="{{ url_for('admin_delete_theme', theme_id=theme.id) }}">Удалить</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    </main>
    {% else %}
    <main>
        <div class="cont">
        <h1>Admin Panel</h1>
        <h2>Posts</h2>
        <ul>
            {% for post in posts %}
            <li>
                <a href="{{ url_for('post_detail', post_id=post.id) }}">Name:{{ post.title }}</a>
                <p>{{ post.content }}</p>
                <p>Author: {{ post.author.username }}</p>
                <p>Theme: {{ post.theme.name_en }}</p>
                <a href="{{ url_for('edit_post', post_id=post.id) }}">Edit</a>
                <a href="{{ url_for('delete_post', post_id=post.id) }}">Delete</a>
            </li>
            {% endfor %}
        </ul>
        </div>
        <div class="cont">
        <h2>Themes</h2>
        <a href="{{ url_for('admin_create_theme') }}">Create</a>
        <ul>
            {% for theme in themes %}
            <li>
                <h2>{{ theme.name }}</h2>
                <a href="{{ url_for('admin_edit_theme', theme_id=theme.id) }}">Edit</a>
                <a href="{{ url_for('admin_delete_theme', theme_id=theme.id) }}">Delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    </main>
    {%endif%}
{% endblock %}